/* Fading animations */

.fade_in {
	-webkit-animation-name: fade_in;
	-webkit-animation-duration: 2s;
	animation-name: fade_in;
	animation-duration: 2s;
	animation-fill-mode: forwards; 
}

@-webkit-keyframes fade_in {
	1%{
		opacity : 0;
		height : 0;
	}
	100%{
		opacity : 1;
		height : initial;
	}
}

@keyframes fade_in {
	1%{
		opacity : 0;
		height : 0;
	}
	100%{
		opacity : 1;
		height : initial;
	}
}


.fade_out {
	-webkit-animation-name: fade_out;
	-webkit-animation-duration: 2s;
	animation-name: fade_out;
	animation-duration: 2s;
	animation-fill-mode: forwards; 
}

@-webkit-keyframes fade_out {
	1%{
		opacity : 1;
		height : initial;
	}
	100%{
		opacity : 0;
		height : 0;
	}
}

@keyframes fade_out {
	1%{
		opacity : 1;
		height : initial;
	}
	100%{
		opacity : 0;
		height : 0;
	}
}
